.cursive {
  font-style: italic;
}

.left {
  float:left;
  text-align:left;
}

.right {
  float:right;
  text-align:right;
}

.col-lg-8 {
  max-width: 83.333333%;
  flex: 83.333333%;
}

@media (min-width: 1000px) {
  #custom_toc {
    width: 20%;
    float: left;
    padding-left: 4%;
    top: 75px;
    position: sticky;
  }
}

@media (max-width: 1000px) {
  #custom_toc {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
  }
}

@media (max-width: 767px) {
  #custom_toc {
    padding-right: 14%;
    padding-left: 14%;
    margin-left: auto;
    margin-right: auto;
  }
}

.pager {
  text-align: center;
  padding-left: 0%;
}

header.masthead {
  padding-top: calc(5rem + 30px);
  padding-bottom: 2rem;
  margin-bottom: 0rem;
}

.mb4 {
  margin-top: 1rem;
}

header.masthead .post-heading .subheading {
  margin: 0 0 0.5rem;
}

.post-preview > a > .post-title {
  font-size: 1.3rem;
}

@media (min-width: 992px) {
  .post-preview > a > .post-title {
    font-size: 2.25rem;
  }
}

h3, .h3 {
  font-size: 1.1rem;
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

.post-preview > .post-meta {
  font-size: 0.9rem;
}

@media (max-width: 992px) {
  body {
    font-size: 0.7rem;
  }
  .navbar-brand {
    font-size: 1.0rem;
  }
  header.masthead {
    padding-top: calc(3rem + 30px);
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 1.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.0rem;
  }
  header.masthead .post-heading .meta {
    font-size: 0.7rem;
  }
  p {
    margin: 0.5rem 0;
  }
  h1, .h1 {
    font-size: 1.1rem;
  }
  h2, .h2 {
    font-size: 0.95rem;
  }
  ol,
  ul {
    padding-left: 0rem;
  }
}

#mainNav .navbar-brand {
  font-weight: 700;
}

header.masthead .post-heading .subheading {
  font-weight: 500;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 600;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link {
  font-weight: 700;
}

.px-4 {
  padding-right: 0.1rem !important;
  padding-left: 0.1rem !important;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1rem;
}

/* Upper navbar area is not affected! */
.navbar-collapse {
  backdrop-filter: blur(3px);
}

/*
Blurry background for Navbar while scrolling up
Does not yet work in Firefox
Font color is not readable in bright theme over header image
*/
@media (min-width:992px) {
  #mainNav.is-fixed {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    border-bottom: rgba(0, 0, 0, 0);
  }
}
