@media (prefers-color-scheme: dark) {
  body {
    color: #e2e2e2;
    background-color: #161616;
  }

  pre {
    color: #e2e2e2;
  }

  hr {
    border-top: 1px solid #444040;
  }

  .border-top {
    border-top: 1px solid #212121 !important;
  }

  .text_muted {
    color: #212529 !important;
  }

  a {
    color: #cbcbcb;
  }

  a:hover {
    color: #696969;
  }


  #mainNav {
    background-color: rgba(22, 22, 22, 0.9);
  }

  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #696969;
  }

  @media only screen and (min-width:992px) {
    #mainNav {
      background:0 0;
    }
  }

  .navbar-light .navbar-brand {
    color: #e2e2e2;
  }

  .navbar-light .navbar-toggler {
    color: #e2e2e2;
  }

  #mainNav.is-fixed {
    border-bottom: 1px solid #808080;
    background-color: rgba(22, 22, 22, 0.9);
  }

  #mainNav.is-fixed .navbar-brand {
    color: #e2e2e2;
  }

  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #cbcbcb;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #e2e2e2;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #cbcbcb;
  }

  .post-preview > a {
    color: #e2e2e2;
  }

  .post-preview > a:focus, .post-preview > a:hover {
    color: #696969;
  }

  .table {
    color: #e2e2e2;
    --bs-table-striped-color: #e2e2e2;
  }

  .form-control {
    background-color: #181a1b;
    border: 1px solid #586268;
    color: #e2e2e2;
  }

  .form-control:focus {
    background-color: #181a1b;
    border: 1px solid #088caa;
    box-shadow: 0 0 0 0.2rem #00657b;
    color: #e2e2e2;
  }

  ::placeholder {
    color: #afabab;
  }

  .btn {
    color: #e2e2e2;
  }

  .btn:hover {
    color: #e2e2e2;
    border-color: #e2e2e2;
  }

}